<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
</head>

<div class="container-fluid" layout:fragment="content">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">그룹 정보</h1>

    <div class="row">

        <div class="col-lg-6">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">사용자 정보</h6>
                </div>
                <div class="card-body">
                    <p th:text="${'이름 : ' + user.userRealName}"/>
                    <p th:text="${'아이디 : ' + user.username}"/>
                    <p th:text="${'사용여부 : ' + user.enabled}"/>
                </div>
            </div>

            <a th:href="@{/admin/user/{userSeq}/edit(userSeq=${user.userSeq})}"
               class="btn btn-secondary btn-block">
                사용자 정보를 수정하겠습니다
            </a>
            <a href="javascript:" class="button-delete btn btn-danger btn-block">
                사용자를 더 이상 사용하지 않겠습니다
            </a>

        </div>

        <div class="col-lg-6" th:if="${group != null}">

            <!-- 그룹 정보 -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">그룹 정보</h6>
                </div>
                <div class="card-body">
                    <p th:text="${'그룹 이름 : ' + group.groupName}"/>
                    <p th:text="${'관리 계정 : ' + group.groupAdmin}"/>
                    <p th:text="${'만료 일시 : ' + group.expireDatetimeString}"/>
                    <p th:text="${'허용 인원 : ' + group.maxUsers}"/>
                    <p th:text="${'현재 인원 : ' + group.currentUsers}"/>
                </div>
            </div>

        </div>

    </div>

</div>

<th:block layout:fragment="script">
    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        /* ]]> */
    </script>

    <script type="text/javascript">

        $(".button-delete").on('click', function () {

            if (confirm("정말로 사용자를 사용중지 하겠습니까?")) {

                $.ajax({
                    type: 'delete',
                    url: '/admin/user/[[${user.userSeq}]]',
                    success: function (data, status, xhr) {

                        var status = data.status;

                        if (status > 1000) {
                            alert(data.message);
                            return false;
                        }

                        location.href = "/admin/group[[${group == null ? '' : '/' + group.groupSeq}]]";
                    }

                });

            }

        });

    </script>
</th:block>

</html>
