<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
</head>

<div class="container-fluid" layout:fragment="content">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">사용자 수정</h1>

    <div class="row">

        <div class="col-lg-6">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">그룹 정보</h6>
                </div>
                <div class="card-body">
                    <p th:text="${'그룹 이름 : ' + group.groupName}"/>
                    <p th:text="${'관리 계정 : ' + group.groupAdmin}"/>
                    <p th:text="${'만료 일시 : ' + group.expireDatetimeString}"/>
                    <p th:text="${'허용 인원 : ' + group.maxUsers}"/>
                    <p th:text="${'현재 인원 : ' + group.currentUsers}"/>
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <form role="form" class="form-user">

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">사용자 정보</h6>
                    </div>
                    <div class="card-body">
                        <p>
                            물건장을 이용할 사용자의 정보를 수정합니다.<br/>
                            비밀번호는 수정하고자 할 경우에만 입력하여 주십시오.<br/>
                        </p>
                        <div class="form-group">
                            <input type="hidden" name="userSeq" th:value="${user.userSeq}"/>
                            <input type="text" name="username" placeholder="아이디" th:value="${user.username}"
                                   class="input-username form-control"/>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="password" name="password" placeholder="비밀번호"
                                       class="input-password form-control"/>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="password" name="passwordRe" placeholder="비밀번호 확인"
                                       class="input-password-re form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="userRealName" placeholder="사용자 이름" th:value="${user.userRealName}"
                                   class="input-user-real_name form-control"/>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                    사용자 정보를 수정하겠습니다
                </button>

            </form>

        </div>

    </div>

</div>

<th:block layout:fragment="script">

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        /* ]]> */
    </script>

    <script type="text/javascript">

        $('.form-user').submit(function () {

            event.preventDefault();

            if ($('.input-password').val() != $('.input-password-re').val()) {
                alert('비밀번호가 일치하지 않습니다.');
                return false;
            }

            $.ajax({
                type: 'put',
                url: '/admin/user',
                data: $(this).serialize(),
                success: function (data, status, xhr) {

                    var status = data.status;
                    if (status == 0)
                        location.href = "/admin/group/" + data.groupSeq;
                    else if (status >= 1001) {
                        alert('[' + status + '] ' + data.message);
                    }
                }

            });

        });

    </script>

</th:block>

</html>
