<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
    th:fragment="sidebarFragment">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/realty">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">물건장 <sup>RDS</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRealty" aria-expanded="true"
           aria-controls="collapseRealty">
            <i class="fas fa-fw fa-table"></i>
            <span>물건장</span>
        </a>
        <div id="collapseRealty" class="collapse" aria-labelledby="headingRealy" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">물건 관리:</h6>
                <a class="collapse-item" href="/realty/new">물건 등록</a>
                <a class="collapse-item" href="/realty">물건 목록</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" sec:authorize="hasAuthority('ROLE_GROUP')">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item" sec:authorize="hasAuthority('ROLE_GROUP')">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGroup" aria-expanded="true"
           aria-controls="collapseGroup">
            <i class="fas fa-fw fa-table"></i>
            <span>그룹 관리</span>
        </a>
        <div id="collapseGroup" class="collapse" aria-labelledby="headingGroup" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">사용자:</h6>
                <a class="collapse-item" href="/group/user/new">사용자 등록</a>
                <a class="collapse-item" href="/group/user">사용자 목록</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" sec:authorize="hasAuthority('ROLE_ADMIN')">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin" aria-expanded="true"
           aria-controls="collapseAdmin">
            <i class="fas fa-fw fa-table"></i>
            <span>프로그램 관리</span>
        </a>
        <div id="collapseAdmin" class="collapse" aria-labelledby="headingAdmin" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">그룹:</h6>
                <a class="collapse-item" href="/admin/group/new">그룹 등록</a>
                <a class="collapse-item" href="/admin/group">그룹 목록</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->

</html>