<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=898ef3f58fbd61e694f90c5384670dc7&libraries=clusterer,services,drawing"></script>
</head>

<div id="realty_new" layout:fragment="content">
    <div class="container">
        <div id="map" style="width:500px;height:500px;margin-top:10px;display:block"></div>

        <div class="col-md-4">
            <div>
                위도 <p name="zonecode" class="form-control" th:text="${content.lat}">
                경도
                <p name="zonecode" class="form-control" th:text="${content.lng}">
            </div>
            <div>
                우편번호 <p name="zonecode" class="form-control" th:text="${content.zonecode}"/>
                주소 <p name="zonecode" class="form-control" th:text="${content.address}">
                상세주소
                <p name="zonecode" class="form-control" th:text="${content.detailAddress}">
                    참고항목
                <p name="zonecode" class="form-control" th:text="${content.extraAddress}">
                    시도
                <p name="zonecode" class="form-control" th:text="${content.sido}">
                    시군구
                <p name="zonecode" class="form-control" th:text="${content.sigungu}">
                    법정동
                <p name="zonecode" class="form-control" th:text="${content.bname}">
                    행정동
                <p name="zonecode" class="form-control" th:text="${content.hname}">
            </div>
            <div>
                물건이름 <p name="zonecode" class="form-control" th:text="${content.realtyName}">
                상세내용
                <p name="zonecode" class="form-control" th:text="${content.realtyContent}">
            </div>
            <div>
                <button type="button" class="button-edit form-control">수정</button>
                <button type="button" class="button-del form-control">삭제</button>
            </div>

        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        /* ]]> */
    </script>

    <script type="text/javascript">
        var container = document.getElementById('map');
        var options = {
            center: new daum.maps.LatLng([[${content.lat}]], [[${content.lng}]]),
            level: 3
        };

        var map = new daum.maps.Map(container, options);
        // map.setZoomable(false); // 확대/축소 막기, 더블클릭을 통한 확대는 막을 수 없다

        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
        var zoomControl = new daum.maps.ZoomControl();
        map.addControl(zoomControl, daum.maps.ControlPosition.RIGHT);

        // 지도를 클릭한 위치에 표출할 마커
        var marker = new daum.maps.Marker({
            position: map.getCenter()
        });
        var marker_list = [];
        var infowindow_list = [];
        var marker_near_image = new daum.maps.MarkerImage("/img/5148-200.png", new daum.maps.Size(30, 30));

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new daum.maps.InfoWindow({
            content: '<div style="padding:6px 0;">[[${content.realtyName}]]</div>'
        });
        infowindow.open(map, marker);

        // 지도가 이동, 확대, 축소로 인해 중심좌표가 변경되면 마지막 파라미터로 넘어온 함수를 호출하도록 이벤트를 등록합니다
        daum.maps.event.addListener(map, 'idle', function () {

            // 지도 영역정보를 얻어옵니다
            var bounds = map.getBounds();

            // 영역정보의 남서쪽 정보를 얻어옵니다
            var swLatlng = bounds.getSouthWest();

            // 영역정보의 북동쪽 정보를 얻어옵니다
            var neLatlng = bounds.getNorthEast();

            var message = '<p>영역좌표는 남서쪽 위도, 경도는  ' + swLatlng.toString() + '이고 <br>';
            message += '북동쪽 위도, 경도는  ' + neLatlng.toString() + '입니다 </p>';

            // 주변 물건 재조회
            readRealty();

            console.info(message);

        });

        $(".button-del").on('click', function () {

            $.ajax({
                type: 'delete',
                url: '/realty/[[${content.realtySeq}]]',
                success: function (data, status, xhr) {
                    alert("삭제되었습니다.");
                    location.href = "/realty";
                }

            });

        });

        function readRealty() {

            // 지도 영역정보를 얻어옵니다
            var bounds = map.getBounds();

            // 영역정보의 남서쪽 정보를 얻어옵니다
            var swLatlng = bounds.getSouthWest();
            var swLat = swLatlng.getLat();
            var swLng = swLatlng.getLng();

            // 영역정보의 북동쪽 정보를 얻어옵니다
            var neLatlng = bounds.getNorthEast();
            var neLat = neLatlng.getLat();
            var neLng = neLatlng.getLng();

            $.ajax({
                type: 'post',
                url: '/realty/ajax/readRealty/',
                data: {
                    'realtySeq': [[${content.realtySeq}]],
                    'swLat': swLat,
                    'swLng': swLng,
                    'neLat': neLat,
                    'neLng': neLng
                },
                success: function (data, status, xhr) {

                    console.log(data);

                    marker_list.forEach(function (marker_near) {
                        marker_near.setMap(null);
                    });

                    marker_list.splice(0, marker_list);

                    infowindow_list.forEach(function (infowindow_near) {
                        infowindow_near.close();
                    });

                    // 지도에 마커 출력
                    data.list.forEach(function (value) {

                        var marker_near = new daum.maps.Marker({
                            position: new daum.maps.LatLng(value.lat, value.lng),
                            image: marker_near_image
                        });

                        marker_list.push(marker_near);

                        // 마커가 지도 위에 표시되도록 설정합니다
                        marker_near.setMap(map);

                        // 인포윈도우가 지도 위에 표시되도록 설정합니다.
                        var infowindow_near = new daum.maps.InfoWindow({
                            content: '<div style="padding:6px 0;"><a href="/realty/' + value.realtySeq + '/">' + value.realtyName + '</a></div>',
                            removable: true
                        });

                        infowindow_list.push(infowindow_near);

                        infowindow_near.open(map, marker_near);

                        // 마커에 클릭이벤트를 등록합니다
                        daum.maps.event.addListener(marker_near, 'click', function () {
                            // 마커 위에 인포윈도우를 표시합니다
                            infowindow_near.open(map, marker_near);
                        });

                    });

                }

            });

        }

        readRealty();

    </script>
</th:block>

</html>
