<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
</head>

<div class="container-fluid" layout:fragment="content">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="400">400</div>
        <p class="lead text-gray-800 mb-5">잘못된 요청입니다</p>
        <p class="text-gray-500 mb-0">동일한 문제가 반복된다면 관리자에게 문의하여 주십시오.</p>
        <a href="/realty">&larr; 첫 화면으로 이동</a>
    </div>

</div>

</html>
