<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
</head>

<div class="container-fluid" layout:fragment="content">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">그룹 정보</h1>

    <div class="row">

        <div class="col-lg-6">

            <!-- 그룹 정보 -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">그룹 정보</h6>
                </div>
                <div class="card-body">
                    <p th:text="${'그룹 이름 : ' + content.groupName}"/>
                    <p th:text="${'관리 계정 : ' + content.groupAdmin}"/>
                    <p th:text="${'만료 일시 : ' + content.expireDatetimeString}"/>
                    <p th:text="${'허용 인원 : ' + content.maxUsers}"/>
                    <p th:text="${'현재 인원 : ' + content.currentUsers}"/>
                </div>
            </div>

            <a th:href="@{/admin/group/{groupSeq}/edit(groupSeq=${content.groupSeq})}"
               class="btn btn-secondary btn-block">
                그룹 정보를 수정하겠습니다
            </a>
            <a href="javascript:" class="button-delete btn btn-danger btn-block">
                그룹을 더 이상 사용하지 않겠습니다
            </a>

        </div>

        <div class="col-lg-6">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">그룹 사용자 목록</h6>
                </div>
                <div class="card-body">
                    <div >
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>이름</th>
                                <th>아이디</th>
                                <th>사용여부</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>이름</th>
                                <th>아이디</th>
                                <th>사용여부</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <a th:href="@{/admin/user/new/group/{groupSeq}(groupSeq=${content.groupSeq})}"
               class="btn btn-secondary btn-block">
                그룹 사용자를 등록하겠습니다
            </a>

        </div>

    </div>

</div>

<th:block layout:fragment="script">
    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        /* ]]> */
    </script>

    <script type="text/javascript">

        var table = $('#dataTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/admin/group/ajax/[[${content.groupSeq}]]",
                "type": "get"
            },
            "columns": [
                {"data": "userRealName"},
                {"data": "username"},
                {"data": "enabled"}
            ],
            "ordering": false,
            "paging": false,
            "searching": false,
            "info": false
        });

        $(".button-delete").on('click', function () {

            if (confirm("정말로 그룹을 사용중시 하겠습니까?")) {

                $.ajax({
                    type: 'delete',
                    url: '/admin/group/[[${content.groupSeq}]]',
                    success: function (data, status, xhr) {
                        location.href = "/admin/group";
                    }

                });

            }

        });

    </script>
</th:block>

</html>
