<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<div class="container-fluid" layout:fragment="content">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">그룹 목록</h1>
    <p class="mb-4">그룹 목록을 조회할 수 있습니다. 그룹은 회사 혹은 조직의 단위이며 사용 유효기간, 회원 수를 설정할 수 있습니다.</p>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">그룹 목록</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>그룹 이름</th>
                        <th>관리자</th>
                        <th>만료일</th>
                        <th>총인원</th>
                        <th>현재인원</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>그룹 이름</th>
                        <th>관리자</th>
                        <th>만료일</th>
                        <th>총인원</th>
                        <th>현재인원</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script type="text/javascript">
        var table = $('#dataTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/admin/ajax/group/list",
                "type": "POST"
            },
            "rowId": "groupSeq",
            "columns": [
                {"data": "groupName"},
                {"data": "groupAdmin"},
                {"data": "expireDate"},
                {"data": "maxUsers"},
                {"data": "currentUsers"}
            ],
            "ordering": false,
            "pagingType": "full_numbers",
            "lengthMenu": [10, 25, 50]
        });

        $('#dataTable tbody').on('click', 'tr', function () {
            location.href = './' + $(this).prop('id');
        });
    </script>
</th:block>

</html>
